@(title: String,userEmail: String)
<nav class="navbar-custom navbar navbar-fixed-top">
  <div class="navbar-header">
    <div class="cent col-sm-1 col-md-1"><a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></div>
    <!--a href="#" [routerLink]="['/menu-toggle']"-->
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><h1 class="zemofnt fontrobo colBlack ">Keep</h1></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--@*<li class="active padright"><a class="black" href="@routes.HomeController.logout">Signout</a></li>*@-->
    </ul>
    <div class="col-sm-8 col-md-8 padtopSearch">
      <form class="navbar-form" role="search">
        <div class="searchBox input-group">
          <input onfocus="myFunction()" type="text" class="search1 form-control" placeholder="Search" name="q">
        </div>
      </form>
    </div>
    <div class="userName pull-right">@userEmail</div>
  </div>
</nav>
<div id="wrapper" class="toggled">
    <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="itemList">
        <a [routerLink]="['/note']">
          <div class="col-sm-3 col-md-3"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></div><div class="col-sm-6 col-sm-offset-1 col-md-9 col-md-offset-0">Notes</div>
        </a>
      </li>
      <hr style="border: 0.5px solid #918f8f" width="118%">
      <li class="itemList">
        <a [routerLink]="['/archive']">
          <div class="col-sm-3 col-md-3"><i class="fa fa-archive fa-lg" aria-hidden="true"></i></div><div class="col-sm-6 col-sm-offset-1 col-md-9 col-md-offset-0">Archive</div>
        </a>
      </li>
      <hr style="border: 0.5px solid #918f8f" width="118%">
      <li class="itemList">
        <!--<a [routerLink]="['/reminder']">-->
          <div class="col-sm-3 col-md-3"><i class="fa fa-bell fa-lg" aria-hidden="true"></i></div><div class="col-sm-6 col-sm-offset-1 col-md-9 col-md-offset-0">Reminder</div>
        <!--</a>-->
      </li>
      <hr style="border: 0.5px solid #918f8f" width="118%">
      <li class="itemList">
        <a [routerLink]="['/trash']">
          <div class="col-sm-3 col-md-3"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></div><div class="col-sm-6 col-sm-offset-1 col-md-9 col-md-offset-0">Trash</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <div class="note col-sm-6  col-md-6 col-md-offset-3">
      <input [(ngModel)]="data.user" name="user" type="hidden">
      <!--<input [(ngModel)]="user" ng-init="user=' @userEmail'" name="user" type="hidden">-->
      <div id="titleDiv" class="title">
        <!--<div ng-show="showRest" id="titleDiv" ng-style="myStyle" class="title" ng-cloak>-->
        <input [(ngModel)]="data.title" class="textDivInp" placeholder="Title" name="title" type="text">
      </div>
      <div id="contentDiv" class="content1">
        <!--<textarea ng-focus="showRest = true" [(ngModel)]="content" placeholder="Take a note..." name="content"></textarea>-->
        <textarea  [(ngModel)]="data.content" placeholder="Take a note..." name="content"></textarea>
      </div>

      <div  id="toolbarDiv" class="toolbar" >
        <!--<div ng-show="showRest" id="toolbarDiv" class="toolbar" ng-cloak>-->
        <div class="col-sm-4 col-md-4">
          <!--<input [(ngModel)]="data.reminder" class="timeInp datetimepicker4"  name="reminder" placeholder="Set Reminder"/>-->
          <!--<input type="datetime-local" [(ngModel)]="data.reminder" >-->
          <!--<input--><!--[(ngModel)]="data.reminder" ngui-datetime-picker  date-only="true" />-->
        </div>

        <div class="col-sm-10 col-md-10">
          <div align="right" > <button class="done" (click)="sendData();showRest=false;">Done</button> </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="padTopMore col-sm-12 col-md-12">
    <!--<div class="padTopMore col-sm-12 col-md-12" ng-cloak>-->
    <div class="row rowWithFullWidth col-sm-12 col-md-12">
      <div id="items" class="no-padding col-sm-10 col-md-10 col-md-offset-1">
        <div *ngFor="let post of posts">
          <div class="col-sm-12 col-md-3 eachCard">
            <div class="card" >
              <!--<div class="card" ng-clock>-->
              <!--<input [(ngModel)]="id" name="id" [ngValue]="post.id" type="hidden">-->
              <div class="clickd">
                <div name="title" class="title wordWrap" contenteditable="false" >{{ post.title}}</div>
                <div name="content" class="content wordWrap" contenteditable="false">{{ post.content}}</div>
                <div name="reminder" class="remind1" contenteditable="false"><div class="remindText" >{{post.reminder}}</div></div>
                <!--<div name="title" class="title wordWrap" contenteditable="false" ng-cloak>{{ post.title}}</div>-->
                <!--<div name="content" class="content wordWrap" contenteditable="false" ng-cloak>{{ post.content}}</div>-->
                <!--<div name="reminder" class="remind1" contenteditable="false"><div class="remindText" ng-cloak>{{post.reminder}}</div></div>-->
              </div>
              <div class="toolbar">
                <div class="inner col-sm-offset-2 col-md-offset-2">
                  <div class="col-sm-3 col-md-3"><a (click)="del(post.id)"><i data-toggle="tooltip" data-placement="bottom" title="Delete Note" class="fa fa-trash fa-lg" aria-hidden="true"></i></a></div>
                  <div class="col-sm-3 col-md-3"><a (click)="archive(post.id)"><i data-toggle="tooltip" data-placement="bottom" title="Archive Note" class="fa fa-archive fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
<!--@*<script src="@routes.Assets.versioned("/javascripts/controllers/MainController.js")"></script>*@-->
<router-outlet></router-outlet>
<script>
    $(function () { $('.datetimepicker4').datetimepicker();});
    $('.datetimepicker4').blur(function ()
    {
      angular.element($('.datetimepicker4')).triggerHandler('input');
    });
  </script>
<!--'@ngui/datetime-picker': {main: '@@ngui/datetime-picker.umd.js', defaultExtension: 'js'}-->
<!--'@ngui/datetime-picker': 'node_modules/@@ngui/datetime-picker/dist'-->
