@import "../bootstrap/css/bootstrap.min.css";
@import "../bootstrap/css/bootstrap-theme.min.css";
html {
  background: transparent;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding-top: 65px;
}
.navbar-custom {
  background-color: #FFBB00;
  color: #ffffff;
  height: 64px;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 5px #CACACA;
}
.cent {
  padding-top: 20px;
}
.glyphicon {
  font-size: 15px;
}
.glyphicon.glyphicon-menu-hamburger {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 2px;
  color: black;
  opacity: 0.7;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
.zemofnt {
  font-size: 25px;
  padding-bottom: 5px;
  margin-left: 23px;
}
.fontrobo {
  font-family: 'Roboto', sans-serif;
}
.colBlack {
  color: black;
}
.padright {
  padding-right: 30px;
  padding-top: 7px;
}
nav > .padright > a:focus,
nav > .padright > a:hover {
  background-color: black;
  opacity: .1;
}
.black {
  cursor: pointer;
  color: black;
  margin-top: -2px;
}
.black:hover {
  color: white!important;
}
.padtopSearch {
  padding-top: 0;
}
.searchBox {
  width: 100%;
  height: 40px;
}
.search1 {
  background-color: black!important;
  opacity: 0.1;
  outline: none;
  border: 1px solid transparent!important;
  height: 50px!important;
  border-radius: 5px!important;
}
.search1:focus {
  opacity: 1;
  background-color: white!important;
  border-color: transparent!important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px grey,0 0 8px grey;
  box-shadow: inset 0 1px 1px grey,0 0 8px grey;
}
.form-control {
  border-radius: 20px;
}
.userName {
  margin-right: 10px;
  padding-top: 23px;
  margin-top: -2px;
  font-family: 'Roboto', sans-serif;
  color: #0f0f0f;
  opacity: .8;
}
#sidebar-wrapper {
  margin-top: -0.7cm;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #sidebar-wrapper1 {
  width: 250px;
}
#sidebar-wrapper,
#sidebar-wrapper1 {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  opacity: 0.54;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper,
  #sidebar-wrapper1 {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper,
  #wrapper.toggled #sidebar-wrapper1 {
    width: 0;
  }
}
@media screen and (max-width: 980px) {
  .sidebar-nav {
    width: 175px;
  }
}
ul {
  list-style-type: none;
  margin-left: -0.05cm;
}
.itemList {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 50px;
  font-size: 13px;
  padding-top: 7.5px;
  color: blue;
  margin-left: -30px;
}
.itemList:hover {
  background-color: #e2e2e2;
}
hr {
  margin-left: -1cm;
  opacity: 0.07;
}
.form-group {
  margin-left: 120px;
  margin-top: 75px;
}
.note {
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px #888888;
}
.title {
  min-height: 46px;
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  padding: 12px 15px 5px 15px;
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
}
.textDivInp {
  border: none transparent;
  width: 100%;
  height: 30px;
  background-color: #fafafa;
  font-weight: bold;
}
.content1 {
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  line-height: 19px;
  min-height: 46px;
  padding: 0 15px 0 15px;
  font-size: 25px;
  padding-top: 5px;
}
textarea {
  padding-top: 10px;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  resize: none;
}
.toolbar {
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 19px;
  min-height: 46px;
  padding: 10px 15px 0px 15px;
}
.timeInp {
  border: none transparent;
  background-color: #fafafa;
}
.done {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  font-weight: 500;
  padding: 5px 14px;
  text-transform: uppercase;
  display: inline-block;
  outline: none!important;
  border: none;
  background: rgba(0, 0, 0, 0.08);
}
.done :hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.vr {
  width: 1px;
  background-color: #000000;
  opacity: 0.08;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  visibility: hidden;
}
.padTopMore {
  margin-top: -0.3cm;
  padding-top: 30px;
}
.rowWithFullWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-padding {
  padding-left: 1px !important;
}
.eachCard {
  padding: 0 !important;
  float: left;
  margin-top: 20px;
  width: 100%;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.card {
  box-shadow: 0 2px 5px #888888;
  width: 100%;
}
.wordWrap {
  word-wrap: break-word;
}
.three {
  font-size: 30px;
}
.one {
  font-size: 20px;
}
.two {
  font-size: 15px;
}
.content {
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  line-height: 19px;
  min-height: 46px;
  padding: 0 15px 0 15px;
}
.remind1 {
  font-size: 15px;
  background-color: #fafafa;
  text-align: center;
  padding-top: 10px;
}
.active1 {
  border-top: 2px dotted rgba(0, 0, 0, 0.15);
}
#remindText {
  opacity: 0.6;
}
.toolbar:hover > .inner {
  display: block;
}
.inner {
  display: none;
}
#a {
  visibility: hidden;
}
a :hover,
.fa :hover {
  cursor: pointer!important;
}
@media screen and (max-width: 980px) {
  .navbar {
    height: 150px;
  }
  .glyphicon.glyphicon-menu-hamburger {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .zemofnt {
    font-size: 80px;
    margin-top: 40px ;
    margin-left: 150px;
  }
  .black {
    font-size: 50px;
    margin-right: 180px;
    margin-top: 50px;
  }
  .padtopSearch {
    margin-top: -40px;
    margin-left: -30px;
    display: none;
  }
  .userName {
    font-size: 30px;
    margin-top: 40px ;
    display: none;
  }
  #sidebar-wrapper {
    margin-top: -2cm;
  }
  .itemList {
    font-size: 30px;
    height: 50px;
    margin-top: 50px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  hr {
    opacity: 0.17;
  }
  .form-group {
    margin-top: 5cm;
  }
  #contentDiv {
    height: 2.25cm;
    font-size: 35px;
  }
  .remind1,
  .toolbarDiv,
  .timeInp {
    font-size: 30px;
  }
  .timeInp {
    width: 250%;
    margin-left: -20px;
  }
  .done {
    font-size: 20px;
  }
  .toolbar {
    font-size: 30px;
  }
}
@media screen and (max-width: 950px) {
  .vr {
    bottom: 520px;
    opacity: 0.2;
  }
}
