html {
  background: transparent;
}
body {
  padding-top: 65px;
}
.navbar-custom {
  background-color: #FFBB00;
  color: #ffffff;
  height: 64px;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 5px #CACACA;
}
.cent {
  padding-top: 20px;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
.zemofnt {
  font-size: 25px;
  padding-bottom: 5px;
}
.fontrobo {
  font-family: 'Roboto', sans-serif;
}
.colBlack {
  color: black;
}
.padright {
  padding-right: 30px;
  padding-top: 7px;
}
.nav > .padright > a:focus,
.nav > .padright > a:hover {
  background-color: black;
  opacity: .1;
}
.black {
  color: black;
}
