body {
  overflow-y: scroll;
  width: 100%;
}
.navbar-custom {
  background-color: #636363;
}
.glyphicon {
  font-size: 15px;
}
ul {
  list-style-type: none;
  margin-left: -0.05cm;
}
hr {
  margin-left: -1cm;
  opacity: 0.07;
}
.vr {
  width: 1px;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  visibility: hidden;
}
.padTopMore {
  margin-top: -2cm;
}
@media screen and (max-width: 950px) {
  .vr {
    bottom: 520px;
  }
}
