<div class="col-sm-9 col-sm-offset-1 col-md-6 col-md-offset-3">
  <h2><div class="user1"> Register</div></h2>
  <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
      <label class="userr">Name</label>
      <input type="text" class="form-control" name="userName"
             [(ngModel)]="data.userName" #userName="ngModel" required />
      <div *ngIf="f.submitted && !userName.valid" class="help-block" style="color: lightblue">
        *Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userEmail.valid }">
      <label class="userr">UserEmail</label>
      <input type="text" class="form-control" name="userEmail"
             [(ngModel)]="data.userEmail" #userEmail="ngModel" required />
      <div *ngIf="f.submitted && !userEmail.valid" class="help-block" style="color: lightblue">
        *UserEmail is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userPassword.valid }">
      <label class="userr">Password</label>
      <input type="text" class="form-control" name="userPassword"
             [(ngModel)]="data.userPassword" #userPassword="ngModel" required />
      <div *ngIf="f.submitted && !userPassword.valid" class="help-block" style="color: lightblue">
        *Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="user btn btn-primary">Register</button>
    </div>
    <p class="user">Already have an account??</p>
    <a routerLink="/login" class="user"><p class="user">Login</p></a>
    <div *ngIf="data.alertMessage1" style="color: red"> {{data.alertMessage1}}</div>
  </form>
</div>s
