@()
<!doctype html>
<html lang="en" data-framework="angular2">
    <head>
        <base href="/" >
        <meta charset="utf-8">
        <title>Keep</title>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/cs/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap-datetimepicker.min.css")">
      <link rel="stylesheet" href="@routes.Assets.versioned("lib/todomvc-common/base.css")">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
      <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system-polyfills.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/reflect-metadata/Reflect.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
        <script>
            var map = {
                'app': 'assets/app',
                '@@angular':'assets/lib/@@angular',
                'rxjs':'assets/lib/rxjs',
                'symbol-observable': 'assets/lib/symbol-observable',
                '@@ngui/datetime-picker' : 'node_modules/@@ngui/datetime-picker/dist'

            };
        var packages = {
                'app': {main: 'main.js', defaultExtension: 'js'},
                'rxjs': {defaultExtension: 'js'},
                'assets/lib': {defaultExtension: 'js'},
                'symbol-observable': {defaultExtension: 'js', main: 'index.js'},
                '@@ngui/datetime-picker' : { main: '@@ngui/datetime-picker.umd.js', defaultExtension: 'js' }

            };
        var ngPackageNames = [
                'common',
                'compiler',
                'core',
                'forms',
                'router',
                'http',
                'platform-browser',
                'platform-browser-dynamic',
                'router'
            ];
        function packIndex(pkgName) {
          packages['@@angular/'+pkgName] = { main: 'index.js', defaultExtension: 'js' };
        }
        function packUmd(pkgName) {
          packages['@@angular/'+pkgName] = { main: '/bundles/' + pkgName + '.umd.js', defaultExtension: 'js' };
        }
          // Most environments should use UMD; some (Karma) need the individual index files
        function addAngularModulesToMap(pkgName) {
          map['@@angular/'+pkgName] = 'assets/lib/angular__' + pkgName;
        }
          // Add package entries for angular packages
        var setPackageConfig = System.packageWithIndex ? packIndex : packUmd;
        ngPackageNames.forEach(setPackageConfig);

          // Add map entries for angular packages
        ngPackageNames.forEach(function(pkgName){
           addAngularModulesToMap(pkgName)
        });

        System.config({
            map : map,
            packages: packages
        });
//         SystemJs works out which other modules our app module depends on and will download and load them
        System.import('app')
            .catch(console.error.bind(console));
		</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/angular.min.js")"></script>
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/hello.js")"></script>
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/moment.js")"></script>
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap-datetimepicker.min.js")"></script>
      <style>body{background-color:#e8e8e8;}</style>
    </head>
  <script>
    $(function () { $('.datetimepicker4').datetimepicker();});
    $('.datetimepicker4').blur(function ()
    {
      angular.element($('.datetimepicker4')).triggerHandler('input');
    });
  </script>
    <body>
        <my-app1>Loading...</my-app1>
    </body>
</html>
